#[TOPOLOGY_SETTINGS]
topo_type 		  fattree
topo_params  	  k=4

#[SERVER_SETTINGS]
num_of_sockets     1
cores_per_socket   1
server_spower      50
server_ppower      100
processor          generic

active_static_power 	130
active_dynamic_power 	120
c0s0_static_power		60.5
c0s0_dynamic_power		75.0
c1s0_static_power		60.5
c1s0_dynamic_power		47.0
c3s0_static_power		60.5
c3s0_dynamic_poewr		22.0
c6s0_static_power		60.5
c6s0_dynamic_power		15.0
c6s3_static_power		13.1
c6s3_dynamic_power		15.0


c0s0_wakeup_time		0.0
c1s0_wakeup_time		1e-5
c3s0_wakeup_time		1e-4
c6s0_wakeup_time		1e-3
c6s3_wakeup_time		1.0

active_waiting_time		0.0
c0s0_waiting_time		0.0
c1s0_waiting_time		0.0
c3s0_waiting_time		0.0
c6s0_waiting_time		0.5
c6s3_waiting_time		100

#[SWITCH_SETTINGS]
line_card_power_policy LINECARD_SLEEP	// NO_MANAGEMENT, LINECARD_SLEEP
port_power_policy      Port_LPI  		// NO_MANAGEMENT, Port_LPI

#[LINE_CARD_POWER_SETTINGS]
lc_active_nps_asics      165
lc_active_tcam           15
lc_active_dram           12.5
lc_active_switch_fabric  23
lc_active_host_processor 29
lc_active_ports          55
lc_active_others         30

lc_lpi1_nps_asics        132
lc_lpi1_tcam             1.26
lc_lpi1_dram             2.4
lc_lpi1_switch_fabric    23
lc_lpi1_host_processor   29
lc_lpi1_ports            46
lc_lpi1_others           30

lc_lpi2_nps_asics        66
lc_lpi2_tcam             1.26
lc_lpi2_dram             2.4
lc_lpi2_switch_fabric    23
lc_lpi2_host_processor   23.2
lc_lpi2_ports            46
lc_lpi2_others           30

lc_lpi3_nps_asics        22
lc_lpi3_tcam             1.26
lc_lpi3_dram             2.4
lc_lpi3_switch_fabric    23
lc_lpi3_host_processor   23.2
lc_lpi3_ports            46
lc_lpi3_others           30

lc_active_to_lpi1_time   0.002
lc_lpi1_to_lpi2_time     0.002
lc_lpi2_to_lpi3_time     0.002
lc_lpi3_to_off_time      0.002
                     
#[PORT_SETTINGS]
ports_per_line_card      4		//fixed x, random start stop
%port_buffer_size 				//default 100  

#[JOB_SETTINGS]
num_of_jobs       fixed  1		//fixed x, random start stop
job_QoS           5
%sim_mode         fixed_time 	// could also be {fixed_time, fixed_jobs}
%sim_time         10000  		// in seconds

#[TASK_SETTINGS]
num_of_tasks       fixed 2		//fixed x, random start stop
task_size          fixed 10 	//fixed x, random start stop	

#[COMMUNICATION_WORKLOAD]
all_jobs           WSERVICE		// stride, hotspot, onetoone, random, small_topo_custom, test_trans
								// flow_test, WSEARCH, WSERVICE, DNS	
packet_num         fixed 1		//fixed x, random start stop
flow_size          100

#[JOB_WORKLOAD]
job_workload        poisson		// poisson, mmpp, mixed, mmpp_fluent, mmpp_oracle, trace, user_specify
mixture             0.950 		// proportion of mixed workload 
service_dis         unif  		// could be expo (exponential)or unif (uniform)       
trace_filename      wiki

#[ROUTING]
routing 		  sspr			//sspr, sapr, ecmp, non_optimal_multi_path
path_preload      0

#[seeding]
seed              100000


#[verbose]
verbose          0

#[debug]
debug_level      2

#[task_scheduler]
task_scheduler    energy_aware	// SIMPLE, TEST_TRANS, ONE_SERVER, ENERGY_AWARE1`12
sche_policy       random_avail 	//{first_pick, random_avail}

#[sleep state]
multi_states      0
sleep_state       c0s0			// No Use
ss_seed           random		// random, fixed x

#[QoS rou]
pb                0.8			// Is this used ever?

#[statistics]
job_arrivals 0
job_completes 0
collect_stats    1
print_full_his   1
print_agg_stats        0
allserver_stats       1
idle_distribution      1 //dump idle distribution to file
circular_idlestats     1 //use circular arraylist to save memory
state_durations   1
energy_distributions 1
abs_percentile_90  1  // dump absolute 90th percentile 
skip_initial_jobs   0 //skip the first as defined number of jobs per server for warm up 


#[multiple server settings]
servers_sch      1
shallow_state    1
deep_state       5

#[validation]
timing_check      1

#[workload_prediction]
dump_prediction      0 
dump_sch_serverhis   0
dump_act_serverhis   0
dump_queue_his       0

#[latency percentile]
latency_percent  0.90

#[logging mode]
asyn_log     0 //when set, dump_prediction, dump_sch_serverhis, dump_act_serverhis would no longer take effect

#[wd burstiness]
aratio 4.0 //could be 1.6 2.5 4 7 16, control average utilization to be 0.3
tratio 0.25 // 1:4 high : low
cycle 30

#[s4 provision]
s4_provision  0.00

sampling_rate 300
