#[TOPOLOGY_SETTINGS]
topo_type 		  fattree
topo_params       k=4

#[SERVER_SETTINGS]
num_of_sockets     1
cores_per_socket   1
server_spower      50
server_ppower      100
processor          generic

active_static_power 	130
active_dynamic_power 	120
c0s0_static_power		60.5
c0s0_dynamic_power		75.0
c1s0_static_power		60.5
c1s0_dynamic_power		47.0
c3s0_static_power		60.5
c3s0_dynamic_poewr		22.0
c6s0_static_power		60.5
c6s0_dynamic_power		15.0
c6s3_static_power		13.1
c6s3_dynamic_power		15.0


c0s0_wakeup_time		0.0
c1s0_wakeup_time		1e-3
c3s0_wakeup_time		1e-2
c6s0_wakeup_time		1e-2
c6s3_wakeup_time		1.0

active_waiting_time		0.0
c0s0_waiting_time		0.1
c1s0_waiting_time		0.5
c3s0_waiting_time		0.8
c6s0_waiting_time		1.0
c6s3_waiting_time		4

#[NETWORK_SETTINGS]
network_routing_algorithm    popcorns
#[SWITCH_SETTINGS]
# BW unit is Mbps
core_switch_bw      100000
aggregate_switch_bw 10000
edge_switch_bw      1000

#[LINE_CARD_POWER_SETTINGS]
# TODO: Break down power into nps/asics, tcam, dram, switch fabric, host processor, ports, others
core_lc_active      362
core_lc_lpi1        259
core_lc_lpi2        162
core_lc_lpi3        84

aggregate_lc_active 226
aggregate_lc_lpi1   168
aggregate_lc_lpi2   112
aggregate_lc_lpi3   69

edge_lc_active      147
edge_lc_lpi1        117
edge_lc_lpi2        84
edge_lc_lpi3        61

#lc_active_nps_asics      165
#lc_active_tcam           45
#lc_active_dram           12.5
#lc_active_switch_fabric  23
#lc_active_host_processor 29
#lc_active_ports          54
#lc_active_others         30

#lc_lpi1_nps_asics        22
#lc_lpi1_tcam             1.26
#lc_lpi1_dram             2.4
#lc_lpi1_switch_fabric    23
#lc_lpi1_host_processor   23.2
#lc_lpi1_ports            49
#lc_lpi1_others           30

#lc_lpi2_nps_asics        22
#lc_lpi2_tcam             37
#lc_lpi2_dram             2.4
#lc_lpi2_switch_fabric    23
#lc_lpi2_host_processor   23.2
#lc_lpi2_ports            49
#lc_lpi2_others           18

#lc_lpi3_nps_asics        0
#lc_lpi3_tcam             0
#lc_lpi3_dram             0
#lc_lpi3_switch_fabric    23
#lc_lpi3_host_processor   6
#lc_lpi3_ports            46
#lc_lpi3_others           12

lc_active_to_lpi1_time   0.3
lc_lpi1_to_lpi2_time     0.8
lc_lpi2_to_lpi3_time     1.00
lc_lpi3_to_off_time      2.00

switch_deep_state	3
Server_active_to_1_Time   0.5
Server_1_to_4_Time        1.0
Server_4_to_5_Time        2

port_power_policy     no_management
line_card_power_policy  linecard_sleep
                     
#[PORT_SETTINGS]
ports_per_line_card      4
%port_rate [100 500 100 ]
%port_power[2 3 5]
%port_buffer_size //default 100  

#[JOB_SETTINGS]
num_of_jobs       fixed  2
job_QoS          10
%job_arrival      fixed  0
%sim_mode         fixed_time // could also be {fixed_time, fixed_jobs}
%sim_time         10000  // in seconds

#[TASK_SETTINGS]
num_of_tasks       fixed 2
#task_size         fixed 10
task_size          rand 

#[COMMUNICATION_WORKLOAD]
%job[0]           stride 	
%job[1]
all_jobs           WSERVICE
packet_num         fixed 1
flow_size          10

#[JOB_WORKLOAD]
job_workload        user_specify
mixture             0.950 //proportion of mixed workload 
service_dis         unif  //could be expo (exponential)or unif (uniform)       
trace_filename      wiki

#[ROUTING]
routing 		  sspr
path_preload      0

#[seeding]
seed              100000


#[verbose]
verbose          1

#[debug]
debug_level      1

#[task_scheduler]
task_scheduler    energy_aware
sche_policy       random_avail //{first_pick, random_avail}

#[sleep state]
multi_states      0
sleep_state       c0s0
ss_seed           random

#[QoS rou]
pb                0.8

#[statistics]
job_arrivals  0
job_completes 0
collect_stats    0
print_full_his   0
print_agg_stats        0
allserver_stats       0
idle_distribution      1 //dump idle distribution to file
circular_idlestats     1 //use circular arraylist to save memory
state_durations   1
energy_distributions 1
abs_percentile_90  1  // dump absolute 90th percentile 
skip_initial_jobs  0 //skip the first as defined number of jobs per server for warm up 


#[multiple server settings]
servers_sch      1
shallow_state    0
deep_state       0

#[validation]
timing_check      1

#[workload_prediction]
dump_prediction      0 
dump_sch_serverhis   0
dump_act_serverhis   0
dump_queue_his       0

#[latency percentile]
latency_percent  0.90

#[logging mode]
asyn_log     0 //when set, dump_prediction, dump_sch_serverhis, dump_act_serverhis would no longer take effect

[wd burstiness]
aratio 4.0 //could be 1.6 2.5 4 7 16, control average utilization to be 0.3
tratio 0.25 // 1:4 high : low
cycle 30

[s4 provision]
s4_provision  0.00

[visualizer]
sampling_rate 2500
frames 100

